body {
    background-color: rgb(227, 234, 239);
    margin: 0rem 0 0 0;
}

div.content {
    max-width: 53.75rem;
    margin: 0 auto;
}

span {

    font-size: 1.25rem;
}

.section-11 {

    background-color: rgb(71, 71, 135);
    color: aliceblue;
    padding: 1.5625rem;
    border-radius: .3125rem;
}

.section-12 {

    background-color: rgb(59, 58, 62);
    color: aliceblue;
    padding: 1.5625rem;
    border-radius: .3125rem;
}

.section-13 {

    background-color: rgb(71, 71, 135);
    color: aliceblue;
    padding: 1.5625rem;
    border-radius: .3125rem;
}

.section-14 {

    background-color: rgb(59, 58, 62);
    color: aliceblue;
    padding: 1.5625rem;
    border-radius: .3125rem;
}

.section-15 {

    background-color: rgb(184, 213, 173);
    color: rgb(13, 15, 16);
    padding: 1.5625rem;
    border-radius: .3125rem;
}

.menuButton {
    font-size: 1.25rem;
    padding: .9375rem;
    margin: .9375rem;
}

button {
    font-size: 1.5625rem;
    border-radius: .3125rem;
}

.add-user-button {
    visibility: hidden
}

.section-alert {
    box-shadow: inset;
    position: fixed;
    top: 40%;
    width: fit-content;
    height: auto;
    background: rgb(138, 202, 235);
    z-index: 1000;
    left: 20%;
    right: 20%;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    padding: 1.5625rem;
    border-radius: .3125rem;
}

.custom-alert {
    color: aliceblue;
    font-size: 1.5625rem;
}

.listado-container {
    position: relative;
    width: 25rem;
    margin: 0 auto;
}

.listado {
    width: 18.75rem;
    margin: 0 auto;
    text-align: center;
    padding: 1.25rem;
}

tbody>tr>:nth-child(4) {
    text-align: center;
}

h3 {
    text-align: left;
}
